stages:
  - test
  - chromatic

variables:
  NODE_VERSION: "22.12.0"

before_script:
  - apt-get update -y
  - apt-get install -y curl
  - curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
  - apt-get install -y nodejs
  - node -v
  - npm ci

jest:
  stage: test
  script:
    - npm test -- --coverage
    - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN -s ./ -f coverage/lcov.info -F unittests
  artifacts:
    paths:
      - coverage/lcov.info
      - coverage/
    expire_in: 1 week
  only:
    - branches

chromatic:
  stage: chromatic
  script:
    - npx chromatic --project-token=$CHROMATIC_PROJECT_TOKEN
  only:
    - branches
