stages:
  - test
  - deploy

variables:
  NODE_VERSION: '22.12.0'
  FIREBASE_PROJECT_ID: 'flare-7091a'
  NEXT_TELEMETRY_DISABLED: "1"
  NEXT_DISABLE_FAST_REFRESH: "true"

# ----------------------------
# Unit Tests
# ----------------------------
jest:unit:
  stage: test
  image: node:$NODE_VERSION
  cache:
    key: "npm-cache"
    paths:
      - .npm
  before_script:
    - npm ci --cache .npm --prefer-offline
  script:
    - npm run test:unit -- --coverage --coverageDirectory=coverage/unit
  artifacts:
    when: always
    paths:
      - coverage/unit
      - reports/jest/unit-junit.xml
    reports:
      junit: reports/jest/unit-junit.xml
    expire_in: 1 week
  only:
    - branches
    - merge_requests

# ----------------------------
# Integration Tests
# (Functions Emulator + Postgres)
# ----------------------------
jest:integration:
  stage: test
  image: node:$NODE_VERSION
  services:
    - name: postgis/postgis:latest
      alias: postgres
  variables:
    NODE_ENV: test
    POSTGRES_USER: test
    POSTGRES_PASSWORD: tester
    POSTGRES_DB: flare_test
    DATABASE_URL: "postgresql://test:tester@postgres:5432/flare_test?schema=public"
    NEXT_PUBLIC_APP_URL: "http://localhost:3000"
    FUNCTIONS_URL: "http://127.0.0.1:5001"
  cache:
    key: "npm-cache"
    paths:
      - .npm
  before_script:
    - npm ci --cache .npm --prefer-offline
    - npm install -g firebase-tools
    - cd functions && npm ci --cache .npm --prefer-offline && npm run build && cd ..
    - npx wait-on tcp:postgres:5432 --timeout 60000

  script:
    - npm run db:reset
    - npm run seed:test
    - npm run test:integration:ci
  artifacts:
    when: always
    paths:
      - coverage/integration
      - reports/jest/integration-junit.xml
    reports:
      junit: reports/jest/integration-junit.xml
    expire_in: 1 week
  only:
    - branches
    - merge_requests

# ----------------------------
# E2E Tests
# (Auth + Functions + Storage + DB)
# ----------------------------
cypress:e2e:
  stage: test
  image: node:latest
  services:
    - name: postgis/postgis:latest
      alias: postgres
  variables:
    NODE_ENV: test
    POSTGRES_USER: test
    POSTGRES_PASSWORD: tester
    POSTGRES_DB: flare_test
    DATABASE_URL: "postgresql://test:tester@postgres:5432/flare_test?schema=public"
    NEXT_PUBLIC_APP_URL: "http://localhost:3000"
    FIREBASE_AUTH_EMULATOR_HOST: "127.0.0.1:9099"
    FIRESTORE_EMULATOR_HOST: "127.0.0.1:8080"
    FIREBASE_STORAGE_EMULATOR_HOST: "127.0.0.1:9199"
    FUNCTIONS_URL: "http://127.0.0.1:5001"
    INTERNAL_API_KEY: "4d522cbb22ae4ad19fe69211623a3a6bf8e9c098a16593b0ca0e0c0359c6f2d0"
  cache:
    key: "npm-cache"
    paths:
      - .npm
  before_script:
    - apt-get update && apt-get install -y openjdk-17-jdk
    - npm ci --cache .npm --prefer-offline
    - npm install -g firebase-tools
    - cd functions && npm ci --cache .npm --prefer-offline && npm run build && cd ..
    - npx wait-on tcp:postgres:5432 --timeout 60000
  script:
    - npm run db:reset
    - npm run seed:test
    - npm run test:e2eci
  artifacts:
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots
      - coverage/e2e
    expire_in: 1 week
  only:
    - branches
    - merge_requests
