stages:
  - test
  - chromatic

variables:
  NODE_VERSION: "22.12.0"

before_script:
  - apt-get update -y
  - apt-get install -y curl gnupg coreutils
  - curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
  - apt-get install -y nodejs
  - node -v
  - npm ci

jest:
  stage: test
  script:
    - npm test -- --coverage

    # Codecov CLI install + verify
    - curl https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
    - curl -Os https://cli.codecov.io/latest/linux/codecov
    - curl -Os https://cli.codecov.io/latest/linux/codecov.SHA256SUM
    - curl -Os https://cli.codecov.io/latest/linux/codecov.SHA256SUM.sig
    - gpg --verify codecov.SHA256SUM.sig codecov.SHA256SUM
    - shasum -a 256 -c codecov.SHA256SUM
    - chmod +x codecov

    # Upload and finalize
    - ./codecov upload-process --file coverage/lcov.info --token $CODECOV_TOKEN
    - ./codecov finalize-process --token $CODECOV_TOKEN

  artifacts:
    paths:
      - coverage/lcov.info
      - coverage/
    expire_in: 1 week
  only:
    - branches

chromatic:
  stage: chromatic
  script:
    - npx chromatic --project-token=$CHROMATIC_PROJECT_TOKEN
  only:
    - branches
