stages:
  - test
  - cypress
  - chromatic

variables:
  NODE_VERSION: '22.12.0'
  FIREBASE_PROJECT_ID: 'flare-7091a' # Add your Firebase project ID

before_script:
  - apt-get update -y
  - apt-get install -y curl
  - curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
  - apt-get install -y nodejs
  - node -v
  - npm ci

jest:
  stage: test
  # Regex to extract code coverage percentage from Jest output
  coverage: /All files[^|]*\|[^|]*\s+([\d.]+)%/
  script:
    - npm test -- --coverage
    # Upload to Codecov using the official bash uploader
    - curl -s https://codecov.io/bash | bash -s -- -t $CODECOV_TOKEN -f coverage/lcov.info
  artifacts:
    paths:
      - coverage/lcov.info
      - coverage/
    expire_in: 1 week
  only:
    - branches
    - merge_requests

cypress:
  image: cypress/browsers:22.15.0
  stage: cypress
  script:
    # install dependencies
    - npm ci
    # start the server in the background
    - npm run dev &
    # run Cypress tests
    - npx cypress run --browser chrome

chromatic:
  stage: chromatic
  script:
    - npx chromatic --project-token=$CHROMATIC_PROJECT_TOKEN
  only:
    - branches
    - merge_requests
