services:
  db:
    image: postgis/postgis:latest
    platform: linux/amd64
    container_name: flare-dev
    restart: always
    env_file:
      - ${ENV_FILE:-.env.dev}
    environment:
      POSTGRES_USER: "josh"
      POSTGRES_PASSWORD: "dev"
      POSTGRES_DB: "flare_dev"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata: