rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  		match /Organizations/{orgId}{
      	allow read: if (resource != null && resource.data !=null && resource.data.verified == true) || request.auth != null && request.auth.uid == orgId || request.auth.token.admin == true;
        allow create: if true;
        allow update: if request.auth != null
        	&& request.auth.uid == orgId
          && request.resource.data.verified == resource.data.verified
          && request.resource.data.id == orgId;
      }

      match /Users/{userId}{
        allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.admin == true)
        allow create: if true;
        allow update: if request.auth != null && request.auth.uid == userId;
      }

      match /Users/{userId}/Saved/{eventId}{
        allow read, write: if request.auth != null && request.auth.uid == userId
      }
      
      match /Organizations/{orgId}/Saved/{eventId}{
      	allow read, write: if request.auth != null && request.auth.uid == orgId 
      }
			
      match /Events/{eventId} {
       allow read: if true


        allow create, update: if request.auth != null 
          && request.auth.token.organization == true
          && request.resource.data.flare_id == request.auth.uid;

        allow delete: if request.auth != null 
          && request.auth.token.organization == true
          && resource.data.flare_id == request.auth.uid;
      }



  }
}