@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';


@theme inline {
  --color-background: var(--app-background);
  --color-foreground: var(--app-foreground);
  --color-primary: oklch(16.15% 0.0828 273.4);
  --color-secondary: #5f4a4a;
  --color-tertiary: rgba(221, 218, 218, 0.5);
  --color-red: oklch(64.73% 0.2385 27.3);
  --color-orange: oklch(76.97% 0.1627 74.52);
  --color-yellow: oklch(91.41% 0.1528 104.99);
  --color-green: oklch(74.62% 0.1947 152.04);
  --color-blue: oklch(48.68% 0.1387 270.64);
  --font-nunito: var(--font-nunito);
  --font-pt_sans: var(--font-pt_sans);
}
@layer utilities {
  .text-gradient {
    --textGradient: linear-gradient(135deg, #ffa301, #ff005c);
    background: var(--textGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}


@layer components {
  .heroui-input,
  .heroui-button,
  .heroui-card {
    @apply rounded-md; /* or rounded-lg */
  }
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-white);
  }
}
  */

h1 {
  font-family: var(--font-nunito);
  font-weight: bold;
  color: var(--color-primary);
  font-size: 2rem;
}

h2{
  font-family: var(--font-nunito);
  font-weight: bold;
  color: var(--color-primary);
  font-size: 1.5rem;
}

h4{
  font-family: var(--font-nunito);
  font-weight: bold;
  color: var(--color-primary);
  font-size: 1.125rem;
}

p {
  font-family: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt_sans);
}

button:hover {
  cursor: pointer;
}


.secondaryHeader{
  font-size: 1rem;
  font-family: var(--font-nunito);
  font-weight: bold;
  color: var(--color-primary);
}

.gradient {
  background: linear-gradient(135deg, #ffa301, #ff005c);
}

.gradientBack{
  background: linear-gradient(135deg, #ffa301, #ff005c);
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
}

.gradientBackFull{
  background: linear-gradient(135deg, #ffa301, #ff005c);
  width: 100vw;
  height: 100lvh;
  background-repeat: no-repeat;
}

.errorText{
  color: var(--color-red);
  font-weight: bold;
}

.basicInteraction{
  background-color: var(--color-primary);
  color: white;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--color-primary);
}

.basicInteraction:hover{
  background-color: white;
  color: var(--color-primary);
}


.fullGradientBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #ffa301, #ff005c);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}




/* event card */
.eventPage {
  height: auto;
  max-height: 80dvh;
  background: white;
  border-radius: 30px;
}

.bookmarkButton {
  position: absolute;
  top: 16px;
  left: 16px;
}

.eventPage .bookmarkButton{
  top: 17%;
  left: 10%;
}

.cardInner {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventImage {
  position: relative;
  height: 50vh;
  width: 33%;
  aspect-ratio: 1/1;
}

.eventText {
  height: 100%;
  max-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 8px;
  overflow-y: auto;
}

.eventText p {
  width: 50%;
}

.eventText p.eventDesc {
  margin-top: 8px;
  width: 100%;
}

@media (max-width: 640px) { 
  h2 {
    font-size: 18px;
  }

  .eventImage {
    position: relative;
    height: 70vh;
    width: 100%;
  }

  .eventText {
    height: 100%;
    max-height: unset;
  }
}

@media (max-width: 450px) { 
  .eventImage {
    height: auto;
  }

  .eventText p {
    width: 100%;
  }
}
