@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme inline {
  --app-gradient-bg: linear-gradient(135deg, #ffa301, #ff005c);
  --app-foreground: var(--app-foreground);
  --font-nunito: var(--font-nunito);
  --font-pt_sans: var(--font-pt_sans);
}

html,
body {
  height: 100%;
  margin: 0;
}

.webGrid {
  max-width: 1280px;
}

#storybook-root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h4 {
  font-family: var(--font-nunito);
  font-weight: bold;
  color: var(--app-foreground);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt_sans);
}



input {
  outline: none !important;
}

input:focus {
  outline: none;
}

label {
  position: relative;
}

.gradient {
  background: var(--app-gradient-bg);
}

@media only screen and (max-width: 1280px) {
  .webGrid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 18px;
  }
}
