@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito: var(--font-nunito)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito)
  --font-pt_sans: var(--font-pt_sans)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1{
  font-family: var(--font-nunito);
  font-weight: bold;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
