@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Recreate next/font CSS variables */
:root {
  --font-nunito: 'Nunito';
  --font-pt_sans: 'PT Sans';
}